* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --antd-wave-shadow-color: $main !important;
  --scroll-bar: 0;
  --lh: 1.5rem;
  line-height: var(--lh);
}

.truncate-overflow {
  --max-lines: 2;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  flex: 1;
  position: relative;
}

.truncate-overflow::before {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 0;
}

.truncate-overflow::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: white;
  display: none;
}

body {
  place-items: center;
}

.container {
  padding: 0 1em;
}

.navbar-nav {
  border: 1px solid #dddddd;
  height: 5rem;
}

.nav {
  height: 5rem;
}

.logo-top {
  width: 60%;
}

@media (max-width: 500px) {
  .logo-top {
    width: 70%;
    margin-left: 2em;
  }
  .hide-sm {
    display: none;
  }
}

.search-top {
  background-color: #89c9b8;
}

.left-menu button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
}

.left-menu button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.top-links {
  margin-left: 2em;
}

.top-links button {
  font-size: 1.5rem;
  color: #9c9c9c;
}

.top-links button:hover {
  color: #89c9b8;
}

.navbar-nav {
  background-color: #fff;
}

.login {
  background-color: #fff;
  padding: 1em;
}

.login form {
  margin-top: 2em;
}

.login form button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  margin-top: 0;
  font-weight: 600;
}

.login form button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.call {
  border: 1px solid #dddddd;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 0.2em;
}

.call strong {
  color: #000;
  margin-left: 1em;
}

.call p {
  color: #9c9c9c;
  margin-left: 1em;
}

.bottom {
  position: absolute;
  bottom: 0;
  padding-top: 1em;
}

@media (max-width: 1176px) and (min-width: 800px) {
  .hide-lg {
    display: none;
  }
}

@media (min-width: 1176px) {
  .hide-xl {
    display: none;
  }
}

.logo-contact {
  width: 60px;
  top: 10;
  position: absolute;
  margin-left: 0.3em;
}

.details-top button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  margin-top: 0.5em;
}

.details-top button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.banner {
  background-image: url(images/banner-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.banner .banner-info {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.banner .banner-info h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}

.banner .banner-info ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.banner .banner-info ul li {
  margin-right: 2em;
  color: #fff;
}

.banner .banner-info ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}

.banner .banner-info ul li a:hover {
  color: #89c9b8;
}

.banner .banner-info ul li button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  margin-top: 0;
  width: 140px;
  font-weight: 600;
  font-size: 1.1rem;
}

.banner .banner-info ul li button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

@media (max-width: 600px) {
  .banner {
    height: auto;
  }
  .banner .banner-info h1 {
    font-size: 2rem;
  }
  .banner .banner-info ul {
    display: block;
  }
  .banner .banner-info ul li button {
    margin-bottom: 2em;
  }
}

.register {
  margin: 2em auto;
  width: 50%;
}

.register button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  margin-top: 0;
  width: 140px;
  font-weight: 600;
  font-size: 1.1rem;
}

.register button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

@media (max-width: 1184px) {
  .register {
    width: 80%;
    margin: 2em auto;
  }
}

.alert {
  position: absolute;
  top: 5;
}

.alert-box {
  width: 300px;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 1em;
}

.login-box {
  background-image: url(images/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.login-box .login-wrapper {
  height: 90vh;
}

.login-box .login-area {
  background: #fff;
  padding: 2em;
}

.login-box .login-area button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  margin-top: 0;
  width: 140px;
  font-weight: 600;
  font-size: 1.1rem;
}

.login-box .login-area button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.avatar-link {
  display: block;
}

.authLinks p a {
  display: block;
  text-decoration: none;
  color: #000;
}

.authLinks p a:hover {
  color: #89c9b8;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.profile-box {
  margin-top: 3em;
}

@media (min-width: 600px) and (max-width: 800px) {
  .hide-md {
    display: none;
  }
}

.tab-list {
  margin-top: 2em;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.tab-list li {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  outline: none;
}

.tab-list li:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #89c9b8;
  transition: all 0.2s ease;
  opacity: 0;
}

.tab-list li:hover,
.tab-list li.active {
  margin-bottom: 1em;
  transition: 400ms;
  color: #89c9b8;
}

.tab-list li:hover::before,
.tab-list li.active:before {
  opacity: 1;
}

@media (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}

.address button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  display: inline;
}

.address button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.feedback-profile-form button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
}

.feedback-profile-form button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.feedback-profile-form button::selection {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.edit-profile .ant-switch-checked {
  background-color: #66b9a3;
}

.edit-profile .edit {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  width: 140px;
  font-size: 1.1rem;
}

.edit-profile .edit:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.edit-profile .edit::selection {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.setp-actions button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  width: 140px;
  font-size: 1.1rem;
}

.setp-actions button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.setp-actions button::selection {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.ant-btn-primary {
  color: #fff;
  background: #89c9b8 !important;
  border-color: #89c9b8 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:hover {
  color: #fff;
  background: #66b9a3 !important;
}

.ant-btn-primary::selection {
  color: #fff;
  background: #66b9a3 !important;
}

.form-modal button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  width: 140px;
  font-size: 1.1rem;
}

.form-modal button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.form-modal button::selection {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.empty button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  height: 40px;
  width: 140px;
}

.empty button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.empty button::selection {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.profile-area {
  background-color: #fff;
  padding: 1em;
}

.setup-box {
  border: 1px solid #dddddd;
  padding: 2em;
}

.profile-setup {
  margin-top: 1em;
  padding: 2em;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: #89c9b8 !important;
  border-color: #89c9b8 !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff !important;
  border-color: #89c9b8 !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #89c9b8 !important;
}

.ant-steps-item-finish
> .ant-steps-item-container
> .ant-steps-item-content
> .ant-steps-item-title::after {
  background-color: #89c9b8 !important;
}

.ant-steps-item-finish
> .ant-steps-item-container
> .ant-steps-item-tail::after {
  background-color: #89c9b8 !important;
}

.ant-radio-inner::after {
  background-color: #89c9b8 !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #89c9b8 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #89c9b8 !important;
  border-color: #89c9b8 !important;
}

.ant-checkbox-checked:hover {
  border-color: #89c9b8 !important;
}

.pop-links a {
  display: block;
  color: #000;
  width: 100%;
  padding: 1em;
}

.pop-links a:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #89c9b8;
}

.sell {
  background-color: #f5f5f5;
}

.product-form {
  background-color: #fff;
  padding: 1em;
}

.price {
  margin-top: 2em;
  background-color: #fff;
  padding: 1em;
}

.shipping {
  margin-top: 2em;
  background-color: #fff;
  padding: 1em;
}

.fees {
  margin-top: 2em;
  background-color: #fff;
  padding: 1em;
}

small {
  display: block;
  margin-top: 1em;
}

.triggers {
  padding-bottom: 3em;
}

.cancel button {
  background-color: #cc3838 !important;
  color: #fff;
  border-color: #cc3838 !important;
}

.cancel button:hover {
  background-color: #d66161 !important;
  border-color: #d66161 !important;
}

.carousel .carousel-slider {
  background: #fff;
  width: 70%;
}

.carousel .slide {
  background: #fff;
}

.slider {
  background-color: #fff;
}

.thumbs {
  text-align: center;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 1px solid #000;
}

.carousel.carousel-slider .control-arrow {
  top: 170;
  color: #fff;
  background: #000;
  font-size: 26px;
  bottom: 170;
  margin-top: 0;
  padding: 5px;
  z-index: 4;
}

.carousel .control-dots .dot {
  background: #000;
}

.carousel .control-dots .dot:hover {
  background: #000;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #000;
}

.user-profile-view {
  border: 1px solid #dddddd;
  padding: 1em;
  border-radius: 5px;
  width: 70%;
  margin: 3em auto;
}

.user-profile-view .ant-divider-horizontal {
  margin: 2px 0;
}

.user-profile-view .ant-list p {
  margin-bottom: 0.3em;
}

.price-details {
  font-size: 22px;
  font-weight: 600;
  color: #092532;
}

.checkout-box {
  border: 1px solid #dddddd;
  padding: 1em;
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
}

.checkout-box button {
  width: 100% !important;
  height: 35px;
}

.stock-checkout {
  color: #2e6638;
  font-size: 20px;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .checkout-box {
    border: none;
    width: 100%;
    margin: 1em 0;
  }
  .user-profile-view {
    border: none;
    width: 100%;
    margin: 1em 0;
  }
}

.preview-body {
  margin-top: 3em;
}

.item-location {
  font-size: 13px;
  margin-top: 1em;
}

.prev-spec {
  border: 1px solid #dddddd;
  padding: 1em;
  margin: 1em 0;
}

.prev-select {
  color: #89c9b8;
}

.prev-desc {
  font-weight: 500;
  font-size: 1.25rem;
}

.prev-table tr {
  margin: 1em 0;
}

.middle-prev {
  padding: 0 1em;
}

.ant-radio-button-wrapper > .ant-radio-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ant-radio-button:hover {
  color: #89c9b8 !important;
}

.ant-radio-group-solid
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff;
  background: #89c9b8 !important;
  border-color: #89c9b8 !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background-color: #89c9b8 !important;
}

.ant-radio-button-wrapper:hover {
  color: #89c9b8 !important;
}

.product-list-section {
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.refine {
  padding: 1em;
}

.info-box {
  border: 1px solid #dddddd;
  border-top: 3px solid #89c9b8;
}

.productItems span {
  margin: 4px 0;
}

.item {
  padding: 1em;
  border: 1px solid #dddddd;
  border-top: 0;
  border-right: 0;
}

.item:first-child {
  border-left: 0;
}

.item:last-child {
  border-right: 1px solid #dddddd;
}

.title {
  color: #1890ff;
}

.title:hover {
  text-decoration: underline;
  color: #82187c;
}

.watch {
  color: #333;
}

.watch:hover {
  text-decoration: underline;
  color: #1890ff;
}

.products-view {
  margin-top: 3em;
}

.action-box {
  padding: 0.2em 0.5em;
  background: #fff;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.action-box:hover {
  border: 1px solid #89c9b8;
}

@media (max-width: 525px) {
  .up-small {
    margin-top: 1.5em;
  }
}
