$dark-color: #092532;
$main: #89c9b8;
$accent: #c7e2b2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eef2f7;
}

.container {
  padding: 0 1em;
}

// navbar styling
.navbar-nav {
  border: 1px solid #dddddd;
  height: 5rem;
}

.nav {
  height: 5rem;
}

.logo-top {
  width: 60%;
}

@media (max-width: 500px) {
  .logo-top {
    width: 70%;
    margin-left: 2em;
  }

  .hide-sm {
    display: none;
  }
}

.search-top {
  background-color: $main;
}

.left-menu {
  button {
    background-color: $main;
    outline: none;
    border-color: $main;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

.top-links {
  margin-left: 2em;
  button {
    font-size: 1.5rem;
    color: #9c9c9c;

    &:hover {
      color: $main;
    }
  }
}

.login {
  background-color: #fff;
  padding: 1em;

  form {
    margin-top: 2em;

    button {
      background-color: $main;
      outline: none;
      border-color: $main;
      width: 100%;
      height: 40px;
      margin-top: 0;
      font-weight: 600;

      &:hover {
        background-color: darken($main, 10%);
        border-color: darken($main, 10%);
      }
    }
  }
}

.call {
  border: 1px solid #dddddd;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;

  padding: 0.2em;

  strong {
    color: #000;
    margin-left: 1em;
  }

  p {
    color: #9c9c9c;
    margin-left: 1em;
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  padding-top: 1em;
}

// navbar styling for different devices

@media (max-width: 1176px) and (min-width: 800px) {
  .hide-lg {
    display: none;
  }
}
@media (min-width: 1176px) {
  .hide-xl {
    display: none;
  }
}

.logo-contact {
  width: 60px;
  top: 10;
  position: absolute;
  margin-left: 0.3em;
}

.details-top {
  button {
    background-color: $main;
    outline: none;
    border-color: $main;
    width: 100%;
    margin-top: 0.5em;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

// banner styling

.banner {
  background-image: url(images/banner-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;

  .banner-info {
    margin-top: 3.5em;
    margin-bottom: 3.5em;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      color: #fff;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin-right: 2em;
        color: #fff;

        a {
          text-decoration: none;
          font-weight: 600;
          font-size: 1.25rem;
          color: #fff;
          &:hover {
            color: $main;
          }
        }

        button {
          background-color: $main;
          outline: none;
          border-color: $main;
          width: 100%;
          height: 40px;
          margin-top: 0;
          width: 140px;
          font-weight: 600;
          font-size: 1.1rem;

          &:hover {
            background-color: darken($main, 10%);
            border-color: darken($main, 10%);
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .banner {
    height: auto;

    .banner-info {
      h1 {
        font-size: 2rem;
      }

      ul {
        display: block;

        li {
          button {
            margin-bottom: 2em;
          }
        }
      }
    }
  }
}

.register {
  margin: 2em auto;
  width: 50%;
  button {
    background-color: $main;
    outline: none;
    border-color: $main;
    width: 100%;
    height: 40px;
    margin-top: 0;
    width: 140px;
    font-weight: 600;
    font-size: 1.1rem;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

@media (max-width: 1184px) {
  .register {
    width: 80%;
    margin: 2em auto;
  }
}

.alert {
  position: absolute;
  top: 5;
}

.alert-box {
  width: 300px;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 1em;
}

// login page
.login-box {
  background-image: url(images/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;

  .login-wrapper {
    height: 90vh;
  }

  .login-area {
    background: #fff;
    padding: 2em;
    button {
      background-color: $main;
      outline: none;
      border-color: $main;
      width: 100%;
      height: 40px;
      margin-top: 0;
      width: 140px;
      font-weight: 600;
      font-size: 1.1rem;

      &:hover {
        background-color: darken($main, 10%);
        border-color: darken($main, 10%);
      }
    }
  }
}

// right auth navbar styling
.avatar-link {
  display: block;
}

// left menu
.authLinks {
  p {
    a {
      display: block;
      text-decoration: none;
      color: #000;
      &:hover {
        color: $main;
      }
    }
  }
}

// spinner
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

// profile styling
.profile-box {
  margin-top: 3em;
}

@media (min-width: 600px) and (max-width: 800px) {
  .hide-md {
    display: none;
  }
}

.tab-list {
  margin-top: 2em;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.tab-list li {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  outline: none;
}

.tab-list li:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #89c9b8;
  transition: all 0.2s ease;
  opacity: 0;
}

.tab-list li:hover,
.tab-list li.active {
  margin-bottom: 1em;
  transition: 400ms;
  color: #89c9b8;
}

.tab-list li:hover::before,
.tab-list li.active:before {
  opacity: 1;
}

@media (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}

.address {
  button {
    background-color: $main;
    outline: none;
    border-color: $main;
    margin-left: 2em;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

.feedback-profile-form {
  button {
    background-color: $main;
    outline: none;
    border-color: $main;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }

    &::selection {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

.edit-profile {
  .ant-switch-checked {
    background-color: #66b9a3;
  }

  .edit {
    background-color: $main;
    outline: none;
    border-color: $main;
    width: 100%;
    height: 40px;
    width: 140px;
    font-size: 1.1rem;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }

    &::selection {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

.btn {
  background-color: $main;
  outline: none;
  border-color: $main;
  width: 100%;
  height: 40px;
  width: 140px;
  font-size: 1.1rem;

  &:hover {
    background-color: darken($main, 10%);
    border-color: darken($main, 10%);
  }

  &::selection {
    background-color: darken($main, 10%);
    border-color: darken($main, 10%);
  }
}

.form-modal {
  button {
    background-color: $main;
    outline: none;
    border-color: $main;
    width: 100%;
    height: 40px;
    width: 140px;
    font-size: 1.1rem;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }

    &::selection {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  button {
    background-color: $main;
    outline: none;
    border-color: $main;
    height: 40px;
    width: 140px;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }

    &::selection {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

.setup-box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  padding: 2em;
}

.profile-setup {
  margin-top: 2em;
  padding: 2em;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: #89c9b8 !important;
  border-color: #89c9b8 !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff !important;
  border-color: #89c9b8 !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #89c9b8 !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #89c9b8 !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #89c9b8 !important;
}
