* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 1em;
}

.navbar-nav {
  border: 1px solid #dddddd;
  height: 5rem;
}

.nav {
  height: 5rem;
}

.logo-top {
  width: 70%;
}

@media (max-width: 500px) {
  .logo-top {
    width: 70%;
    margin-left: 2em;
  }
  .hide-sm {
    display: none;
  }
}

.search-top {
  background-color: #89c9b8;
}

.left-menu button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
}

.left-menu button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.top-links {
  margin-left: 2em;
}

.top-links button {
  font-size: 1.5rem;
  color: #9c9c9c;
}

.top-links button:hover {
  color: #89c9b8;
}

.login {
  background-color: #fff;
  padding: 1em;
}

.login form {
  margin-top: 2em;
}

.login form button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  margin-top: 0;
  font-weight: 600;
}

.login form button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.hide {
  display: none;
}

.call {
  border: 1px solid #dddddd;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 0.2em;
}

.call strong {
  color: #000;
  margin-left: 1em;
}

.call p {
  color: #9c9c9c;
  margin-left: 1em;
}

.bottom {
  position: absolute;
  bottom: 0;
  padding-top: 1em;
}

@media (max-width: 1176px) and (min-width: 800px) {
  .hide-lg {
    display: none;
  }
}

@media (min-width: 1176px) {
  .hide-xl {
    display: none;
  }
}

.logo-contact {
  width: 60px;
  top: 10;
  position: absolute;
  margin-left: 0.3em;
}

.details-top button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  margin-top: 0.5em;
}

.details-top button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.banner {
  background-image: url(images/banner-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.banner .banner-info {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.banner .banner-info h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}

.banner .banner-info ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.banner .banner-info ul li {
  margin-right: 2em;
  color: #fff;
}

.banner .banner-info ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}

.banner .banner-info ul li a:hover {
  color: #89c9b8;
}

.banner .banner-info ul li button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  margin-top: 0;
  width: 140px;
  font-weight: 600;
  font-size: 1.1rem;
}

.banner .banner-info ul li button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

@media (max-width: 600px) {
  .banner {
    height: auto;
  }
  .banner .banner-info h1 {
    font-size: 2rem;
  }
  .banner .banner-info ul {
    display: block;
  }
  .banner .banner-info ul li button {
    margin-bottom: 2em;
  }
}

.register {
  margin: 2em auto;
  width: 50%;
}

.register button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  margin-top: 0;
  width: 140px;
  font-weight: 600;
  font-size: 1.1rem;
}

.register button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

@media (max-width: 1184px) {
  .register {
    width: 80%;
    margin: 2em auto;
  }
}

.alert {
  position: absolute;
  top: 5;
}

.alert-box {
  width: 300px;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 1em;
}

.login-box {
  background-image: url(images/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.login-box .login-wrapper {
  height: 90vh;
}

.login-box .login-area {
  background: #fff;
  padding: 2em;
}

.login-box .login-area button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  width: 100%;
  height: 40px;
  margin-top: 0;
  width: 140px;
  font-weight: 600;
  font-size: 1.1rem;
}

.login-box .login-area button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}

.avatar-link {
  display: block;
}

.authLinks p a {
  display: block;
  text-decoration: none;
  color: #000;
}

.authLinks p a:hover {
  color: #89c9b8;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.profile-box {
  margin-top: 3em;
}

@media (min-width: 600px) and (max-width: 800px) {
  .hide-md {
    display: none;
  }
}

.tab-list {
  margin-top: 2em;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.tab-list li {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  outline: none;
}

.tab-list li:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #89c9b8;
  transition: all 0.2s ease;
  opacity: 0;
}

.tab-list li:hover,
.tab-list li.active {
  margin-bottom: 1em;
  transition: 400ms;
  color: #89c9b8;
}

.tab-list li:hover::before,
.tab-list li.active:before {
  opacity: 1;
}

@media (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}

.address button {
  background-color: #89c9b8;
  outline: none;
  border-color: #89c9b8;
  margin-left: 2em;
}

.address button:hover {
  background-color: #66b9a3;
  border-color: #66b9a3;
}
