$dark-color: #092532;
$main: #89c9b8;
$accent: #c7e2b2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 1em;
}

// navbar styling
.navbar-nav {
  border: 1px solid #dddddd;
}

.logo-top {
  width: 70%;
}

@media (max-width: 500px) {
  .logo-top {
    width: 70%;
    margin-left: 2em;
  }

  .hide-sm {
    display: none;
  }
}

.search-top {
  background-color: $main;
}

.left-menu {
  button {
    background-color: $main;
    outline: none;
    border-color: $main;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

.top-links {
  margin-left: 2em;
  button {
    font-size: 1.5rem;
    color: #9c9c9c;

    &:hover {
      color: $main;
    }
  }
}

.login {
  background-color: #fff;
  padding: 1em;

  form {
    margin-top: 2em;

    button {
      width: 100%;
      height: 40px;
      font-weight: 600;
      background-color: $main;
      border-color: $main;

      &:hover {
        background-color: darken($main, 10%);
        border-color: darken($main, 10%);
      }
    }
  }
}

.hide {
  display: none;
}

.call {
  border: 1px solid #dddddd;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;

  padding: 0.2em;

  strong {
    color: #000;
    margin-left: 1em;
  }

  p {
    color: #9c9c9c;
    margin-left: 1em;
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  padding-top: 1em;
}

// navbar styling for different devices

@media (max-width: 1176px) and (min-width: 800px) {
  .hide-lg {
    display: none;
  }
}
@media (min-width: 1176px) {
  .hide-xl {
    display: none;
  }
}

.logo-contact {
  width: 60px;
  top: 10;
  position: absolute;
  margin-left: 0.3em;
}

.details-top {
  button {
    background-color: $main;
    outline: none;
    border-color: $main;
    width: 100%;
    margin-top: 0.5em;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

// banner styling

.banner {
  background-image: url(images/banner-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;

  .banner-info {
    margin-top: 3.5em;
    margin-bottom: 3.5em;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      color: #fff;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin-right: 2em;
        color: #fff;

        a {
          text-decoration: none;
          font-weight: 600;
          font-size: 1.25rem;
          color: #fff;
          &:hover {
            color: $main;
          }
        }

        button {
          background-color: $main;
          outline: none;
          border-color: $main;
          width: 100%;
          height: 40px;
          margin-top: 0;
          width: 140px;
          font-weight: 600;
          font-size: 1.1rem;

          &:hover {
            background-color: darken($main, 10%);
            border-color: darken($main, 10%);
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .banner {
    height: auto;

    .banner-info {
      h1 {
        font-size: 2rem;
      }

      ul {
        display: block;

        li {
          button {
            margin-bottom: 2em;
          }
        }
      }
    }
  }
}

.register {
  margin: 2em auto;
  width: 50%;
  button {
    background-color: $main;
    outline: none;
    border-color: $main;
    width: 100%;
    height: 40px;
    margin-top: 0;
    width: 140px;
    font-weight: 600;
    font-size: 1.1rem;

    &:hover {
      background-color: darken($main, 10%);
      border-color: darken($main, 10%);
    }
  }
}

@media (max-width: 1184px) {
  .register {
    width: 80%;
    margin: 2em auto;
  }
}

.alert {
  position: absolute;
  top: 5;
}

.alert-box {
  width: 300px;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 1em;
}
